@media all and (min-width: 768px) {
    .main-content{
        flex-direction: row;
        overflow: hidden;
    }
    .thumbnail-list{
        flex-direction: column;
        order: 0;
        margin-left: 20px;
        padding: 0 35px;
    }
    .thumbnail-item{
        max-width: 260px;
    }
    .thumbnail-item + .thumbnail-item{
        margin-top: 20px;
    }
}