@media (max-width: 992px){
    .menu__list{
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #000;
    } 
    .menu__list li{
        margin-left: 0;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
    }
    .btn__menu{
        display: block;
    }
}