*,
*::after,
*::before{
    box-sizing: border-box;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-image: url('../Images/header-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
